n8n-workflows/[FR] TSEL-Learning Base.json
{
  "name": "[FR] TSEL-Learning Base",
  "nodes": [
    {
      "parameters": {
        "operation": "decode",
        "token": "={{ $json.token }}",
        "options": {}
      },
      "type": "n8n-nodes-base.jwt",
      "typeVersion": 1,
      "position": [
        -1008,
        688
      ],
      "id": "b749265d-1f09-48e7-b960-1f21de8c8794",
      "name": "JWT",
      "credentials": {
        "jwtAuth": {
          "id": "DIKYTiCd0YBNntFq",
          "name": "JWT Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6008934a-29d4-4fa0-8da9-1d17a49351cb",
              "leftValue": "={{ $json.token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1184,
        688
      ],
      "id": "8ec995ac-9385-471c-a666-10eea3391e76",
      "name": "isToken?"
    },
    {
      "parameters": {
        "jsCode": "const now = Math.floor(Date.now() / 1000);\nconst exp = $json.payload.exp;\nreturn [\n  {\n    json: {\n      isExpired: now > exp,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        688
      ],
      "id": "4dabb544-584b-4cd4-aa65-7836ad8a1b5f",
      "name": "validation exp token"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0a86cff5-bf94-432f-839c-ae3e232b4c28",
              "leftValue": "={{ $json.isExpired }}",
              "rightValue": 0,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -256,
        480
      ],
      "id": "ef1d62d9-e628-4fe8-8ceb-be41b03f5006",
      "name": "isToken exp?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"Sesi anda telah berakhir, harap lakukan login terlebih dahulu\"\n}",
        "options": {
          "responseCode": 404
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -256,
        752
      ],
      "id": "e0cce1b5-ead8-4d12-bac2-fd2fca88a647",
      "name": "Response token exp"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"harap lakukan login terlebih dahulu\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1200,
        960
      ],
      "id": "e28fa7e9-c9a1-4ad1-aa5f-aa8a75f20004",
      "name": "Response token isEmpty"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -896,
        128
      ],
      "id": "df28704d-cd0c-4194-8b29-1032d0611fa7",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst fullText = items.map(item => item.json.text || \"\").join(\" \");\n\n// Cari item yang punya properti fileName\nconst fileNameItem = items.find(item => item.json.fileName);\nconst fileName = fileNameItem?.json.fileName || \"unknown.pdf\";\n\nconst chunkSize = 500;\nconst overlap = 100;\nconst chunks = [];\n\nfor (let i = 0; i < fullText.length; i += chunkSize - overlap) {\n  const chunk = fullText.slice(i, i + chunkSize);\n  chunks.push({\n    json: {\n      text: chunk,\n      metadata: {\n        source: \"shared_pdf\",\n        filename: fileName,\n        uploadedAt: new Date().toISOString()\n      }\n    }\n  });\n}\n\nreturn chunks;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        464
      ],
      "id": "4e670494-3938-40d7-8710-e426d3efc584",
      "name": "Split PDF into Chunks"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        528,
        848
      ],
      "id": "ff9b34bd-6c7d-4007-a654-7b6dd2bee79f",
      "name": "Token Splitter"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "options": {}
      },
      "id": "2d4037ea-8129-450c-ae1d-0475b9fb49c1",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        528,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "learning_based",
          "mode": "list",
          "cachedResultName": "learning_based"
        },
        "options": {
          "collectionConfig": ""
        }
      },
      "id": "4b2f5a49-1896-4789-ab67-3282c92095d6",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "position": [
        400,
        464
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "qdrantApi": {
          "id": "WvMXTDUfDLp2KASV",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f29be43a-50cf-42e3-b518-ea7380a3553b",
              "name": "fileName",
              "value": "={{ $binary.file0.fileName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        384
      ],
      "id": "0c159c95-d98a-4826-b02d-1856b6f46e39",
      "name": "fileName parameter"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "token",
              "value": "={{ $json.headers[\"authorization\"] ? $json.headers[\"authorization\"].replace(\"Bearer \", \"\").trim() : '' }}"
            },
            {
              "value": "={{ $binary.file0 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "81f6cf88-e6e1-4b8f-9b09-ae3f82ca01f7",
      "name": "tokenInput",
      "type": "n8n-nodes-base.set",
      "position": [
        -1200,
        448
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -656,
        240
      ],
      "id": "952ce128-8a85-4824-8db2-bab705cdcdfc",
      "name": "Merge PDF"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -464,
        480
      ],
      "id": "807888a2-b9d7-44ac-81c3-f780de1efd32",
      "name": "Merge wth token"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "source",
              "value": "={{ $json.metadata.source }}"
            },
            {
              "name": "fileName",
              "value": "={{ $json.metadata.filename }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5826fd36-e96f-495a-9809-1979f020078e",
      "name": "pdf chunks",
      "type": "n8n-nodes-base.set",
      "position": [
        160,
        464
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    text: $json.text,\n    metadata: {\n      source: $json.source,\n      filename: $json.fileName\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "033df596-d225-4044-affb-82c400defdc9",
      "name": "formatin code",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const cleanText = ($json.text || \"\")\n  .replace(/[^\\x00-\\x7F]/g, \"\") // hapus karakter non-ASCII\n  .replace(/\\s+/g, \" \")         // normalisasi spasi\n\nreturn [{\n  json: {\n    text: cleanText,\n    metadata: $json.metadata\n  }\n}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        0
      ],
      "id": "21ea5d73-d47b-4cbf-8002-5ed582e93b68",
      "name": "filter karakter Unicode",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"dokumen anda telah terupload\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        768,
        464
      ],
      "id": "ecbc691b-3305-4b27-a1df-6e6b61da1b21",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "post-pdf",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "file"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1200,
        208
      ],
      "id": "6a8acc66-15f2-46d9-ae56-5a82c815e29f",
      "name": "Webhook pdf trigger",
      "webhookId": "673c3b44-570f-4e67-b8b4-1837a69b4e2a"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        384,
        624
      ],
      "id": "3635d604-c6ae-4441-80da-fe2240d2dc7d",
      "name": "Embeddings Gemini Credential",
      "credentials": {
        "googlePalmApi": {
          "id": "hu7ixQhsS09un4nf",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "JWT": {
      "main": [
        [
          {
            "node": "validation exp token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isToken?": {
      "main": [
        [
          {
            "node": "JWT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response token isEmpty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validation exp token": {
      "main": [
        [
          {
            "node": "Merge wth token",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "isToken exp?": {
      "main": [
        [
          {
            "node": "Split PDF into Chunks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response token exp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split PDF into Chunks": {
      "main": [
        [
          {
            "node": "pdf chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fileName parameter": {
      "main": [
        [
          {
            "node": "Merge PDF",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "tokenInput": {
      "main": [
        [
          {
            "node": "isToken?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge PDF": {
      "main": [
        [
          {
            "node": "Merge wth token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge wth token": {
      "main": [
        [
          {
            "node": "isToken exp?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pdf chunks": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatin code": {
      "main": [
        [
          {
            "node": "filter karakter Unicode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook pdf trigger": {
      "main": [
        [
          {
            "node": "tokenInput",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          },
          {
            "node": "fileName parameter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Gemini Credential": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3aedf6ba-7347-4e87-a19c-b23e76e938ea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bd6cd94e96dcc625bd73366095f95952b0a4a204b9d0a766da8fb9750cba033c"
  },
  "id": "iYjL37grrVtj2W48",
  "tags": [
    {
      "createdAt": "2025-07-14T06:33:17.571Z",
      "updatedAt": "2025-07-14T06:33:17.571Z",
      "id": "vUsdXc4dDAWxuf81",
      "name": "Tsel AI Lab"
    }
  ]
}